*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:rgb(102, 102, 253);
}

p{
    margin-bottom: 10px;
    padding-top: 10px;
}

button{
    background-color: rgb(102, 102, 253);
    border: 0.5px solid;
    height: 30px;
    width: 150px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}