
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Monteserrat",sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:rgb(102, 102, 253);
}

p{
    margin-bottom: 10px;
    padding-top: 10px;
}

button{
    background-color: rgb(102, 102, 253);
    border: 0.5px solid;
    height: 30px;
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}